    /* taustan v채ri */
    .navbar-custom {
      background-color:#083531;
  }
  
  /* brandin ja tekstin v채ri */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text{
      color: #99bdbd;
  }
  
  /* linkin v채ri */
  .navbar-custom .navbar-nav .nav-link {
      color: #99bdbd;
  }
  
  /* aktiivisen & hover-linkin v채ri */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
      color: #b3cccc
  }
  
  .nav-link.active {
      color: white !important;
    }
  
  .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  
  body { position: relative; 
    }
  
  .custom-img {
      width: 100%;
      max-width: 500px;
    }
  
  .img-rounded-corners-1 {
      border-radius: 30% 0 30% 0;
    }
  
  .img-rounded-corners-2 {
      border-radius: 30% 0 30% 0;
    }
  
  .btn-link {
      font-weight: bold;
      color: #000;
      text-decoration: none;
      background-color: transparent;
      border: none;
      display: block;
      width: 100%;
    }
    
  .btn-link:hover, .btn-link:focus {
      text-decoration: underline;
      color: #0f7161;
    }
  
    #cameras-lenses, #care-transport, #accessories, #filters {
      padding-top: 60px;
      padding-bottom: 50px;
    }
    